source https://api.nuget.org/v3/index.json
framework: netcoreapp3.1, netstandard2.0
storage: none

nuget Fable.Remoting.Giraffe
nuget Saturn
nuget Expecto
nuget Fable.Mocha
nuget Fable.Remoting.Client
nuget FSharp.Core
nuget FSharp.Data
nuget Fable.Recharts
nuget Fable.ReactLeaflet
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.React
nuget Thoth.Json.Giraffe
nuget Fulma
nuget Fable.FontAwesome.Free

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
